.form-page-wrap {
  position: relative;
  display: flex;
  width: 100%;
  min-height: 80vh;
}
.form-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 50px;
  .form-box {
    max-width: 450px;
    padding: 60px 75px;
    text-align: center;
    border: 1px solid #dadce0;
    border-radius: 10px;
    #page-title {
      margin-bottom: 35px;
      font-size: 2.5rem;
    }
    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      input {
        display: block;
        width: calc(100% - 80px);
        width: 100%;
        min-width: 250px;
        height: 34px;
        margin-top: 10px;
        padding: 5px 10px;
        font-size: 1.6rem;
        border: 1px solid #ccc;
        border-radius: 5px;
        &:focus {
          border: 1px solid #065fd4;
          outline: none;
        }
      }
      button {
        width: 76px;
        height: 36px;
        margin-top: 15px;
        margin-bottom: 30px;
        color: #fff;
        background: #1a73e8;
        border: none;
        border-radius: 6px;
        box-shadow: none;
        cursor: pointer;
      }
      a {
        color: #1a73e8;
        font-size: 1.5rem;
        i {
          margin-left: 5px;
        }
      }
    }
    hr {
      margin: 20px 0;
    }
    .form-btn a {
      color: #606060;
      font-size: 1.28rem;
      &:hover {
        border-bottom: 1px solid #a5a5a5;
      }
    }
  }
}
