mixin video(video)
  .video-item-wrap
    .video-item
        a(href=`/videos/${video.id}`)
          .thumbnail-wrap
            .thumbnail
              .thumbnail-img hi
        .details
          a(href=`/videos/${video.id}`)=video.title
            .user-profilepic
              img(src=video.owner.avatarUrl)
          p=video.owner.username