.edit-profile-img {
  display: flex;
  width: 140px;
  height: 140px;
  overflow: hidden;
  border-radius: 50%;
  & img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}

#edit-profile-btn,
#upload-btn {
  width: auto !important;
  padding: 10px;
}
