.edit-profile-img {
  display: flex;
  align-items: center;
  justify-items: center;
  width: 140px;
  height: 140px;
  overflow: hidden;
  border-radius: 500px;
}

#edit-profile-btn,
#upload-btn {
  width: auto !important;
  padding: 10px;
}
