.masthead{
    display: block;
    position: fixed;
    width: 100%;
    top:0;
}

.masthead-container{
    padding: 0 20px 0 25px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .masthead-start{
            min-width: 200px;
            .guide-menu{
                background: none;
                border: none;
                outline: none;
                padding: 0%;
                line-height: 0;
                cursor: pointer;
                color: inherit;
                vertical-align: middle;
                width: 40px;
                height: 40px;
            }
            .svttube-logo{
                vertical-align: sub;
                padding: 18px 14px;
                .logo-icon{
                    color: $svttubered;
                    font-size: 25px;
                }
                i:last-child{
                    color: $icon-active;
                    font-size: 23px;
                    font-weight: bold;
                    letter-spacing: -0.9px;
                    margin-top: -2px;
                    margin-left: 2px;
                }
            
            }
        }
        nav{
            display: inline-block;
            
        }
        ul li{
            display: inline-block;
            vertical-align:middle;
        }
        .masthead-end{
            min-width: 99px;
        }
        .user-profilepic img{
            border-radius: 200px;
            height: 32px;
            width: 32px;
        }
        button.loginbtn{
            border: 1px solid $button-color;
            color: $button-color;
            background: transparent;
            padding: 8px 11px;
        }
        button.loginbtn a i{
                vertical-align: middle;
                font-size: 14px;
            }
        button.loginbtn a i:first-child{
                font-size: 23px;
                margin-right: 10px;
                }
}


.guide-container{
    position: fixed;
    width: 240px;
    .guide-wrap{
        height: 100%;
        flex-direction: column;
    }
    .section{
        display: block;
        // background: red;
         & ul li{
            letter-spacing: -1px;
            min-height: 40px;
            display: flex;
            align-items: center;
            line-height: 2.5rem;
            padding: 0px 34px;
            & i{
                margin-right: 21px;
                width: 21px;
                height: 21px;
                font-size: 20px;
            }
            & span{
                font-size: 0.9rem;
            }
        }
    }
}