.masthead {
  position: fixed;
  top: 0;
  z-index: 100;
  display: block;
  width: 100%;
}

.masthead-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 56px;
  padding: 0 20px 0 25px;
  background: rgba(255, 255, 255, 0.99);
  &.theater {
    background: rgba(35, 35, 35, 0.99);
    .guide-menu,
    .masthead-end .loggedin-user-icons,
    .svttube-logo img,
    .loginbtn {
      filter: brightness(0) invert(1);
    }
  }
  .masthead-start {
    display: flex;
    align-items: center;
    min-width: 250px;
    .guide-menu {
      width: 40px;
      height: 40px;
      padding: 0%;
      color: inherit;
      line-height: 0;
      vertical-align: middle;
      background: none;
      border: none;
      outline: none;
      cursor: pointer;
    }
    .svttube-logo {
      display: flex;
      align-items: center;
      padding: 18px 14px;
      .logo-icon {
        color: $svttubered;
        font-size: 25px;
      }
      i:last-child {
        margin-left: 1px;
        color: $icon-active;
        font-weight: bold;
        font-size: 21.8px;
        letter-spacing: -1.3px;
      }
      img {
        width: 100%;
        max-height: 18.4px;
        margin-left: 2px;
      }
    }
  }
  nav {
    display: inline-block;
  }
  ul li {
    display: inline-block;
    vertical-align: middle;
  }
  .searchbox {
    display: flex;
    flex: 0 1 636px;
    align-items: center;
    justify-content: center;
    min-width: 50px;
    .searchbox-form {
      width: 100%;
      form {
        display: flex;
        align-items: center;
        input {
          width: calc(100% - 80px);
          height: 36px;
          padding: 0 10px;
          font-size: 1.5rem;
          border: 1px solid #ccc;
          border-radius: 2px 0 0 2px;
          box-shadow: inset 0 1px 2px #eee;
          &:focus {
            border: 1px solid #065fd4;
            outline: none;
          }
        }
        button {
          width: 64px;
          height: 38px;
          color: #121212;
          background: #f8f8f8;
          border: 1px solid #ccc;
          border-left: none;
          border-radius: 0 2px 2px 0;
          cursor: pointer;
        }
      }
    }
  }
  .masthead-end {
    min-width: 99px;
    .loggedinUser-icons-wrap {
      display: inline-block;
      margin-right: 20px;
      li a {
        position: relative;
        z-index: 999;
        display: inline-block;
        margin: 6px;
        padding: 6px;
        &[title]:hover:after {
          position: absolute;
          bottom: -150%;
          left: -30%;
          z-index: 9999;
          display: flex;
          align-items: center;
          justify-items: center;
          padding: 5px 10px;
          color: #fff;
          font-size: 1.3rem;
          line-height: 1.2;
          text-align: center;
          background: rgba(0, 0, 0, 0.5);
          border-radius: 2px;
          content: attr(title);
        }
        #myvideos-ico {
          width: 17px;
        }
        #upload-ico {
          width: 20px;
        }
        #logout-ico {
          width: 13px;
        }
      }
    }
    .loggedin-user-icons {
      width: 24px;
      height: 24px;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  .user-profilepic {
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    width: 32px;
    height: 32px;
    margin-right: 20px;
    margin-left: 5px;
    overflow: hidden;
    border-radius: 50%;
    & img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }
  button.loginbtn {
    padding: 8px 11px;
    color: $button-color;
    background: transparent;
    border: 1px solid $button-color;
  }
  button.loginbtn a i {
    font-size: 14px;
    vertical-align: middle;
  }
  button.loginbtn a i:first-child {
    margin-right: 10px;
    font-size: 23px;
  }
}

.guide-container {
  position: fixed;
  /* display: flex;*/
  display: none;
  flex-direction: column;
  width: 240px;
  .guide-wrap {
    flex-direction: column;
    height: 100%;
    padding-top: 10px;
  }
  hr {
    height: 1px;
    margin: 15px 0;
    background-color: rgba(0, 0, 0, 0.1);
    border: 0px;
  }
  .section {
    display: block;
    & ul li {
      display: flex;
      align-items: center;
      min-height: 40px;
      padding: 0px 34px;
      line-height: 2.5rem;
      letter-spacing: -0.5px;
      cursor: pointer;
      &:hover {
        background: rgba(0, 0, 0, 0.1);
      }
      & i {
        width: 21px;
        height: 21px;
        margin-right: 21px;
        font-size: 20px;
      }
      & p {
        overflow: hidden;
        font-weight: 400;
        font-size: 1.42rem;
        font-family: "Roboto", sans-serif;
        line-height: 2rem;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }
}

#footer-wrap {
  margin-top: 20px;
  padding-left: 34px;
  color: rgb(139, 139, 139);
  font-size: 1.2rem;
}
