.contents-container{
    width: calc(100% - 240px);
    display: inline-block;
    position: relative;
}

.video-wrap{
    position: relative;
    display: flex;
    align-items: center;
}



.video-item-wrap{
    position: relative;
    margin-left: calc(16px / 2);
    margin-right: calc(16px / 2);
    margin-bottom: 40px;
    width: calc(100%/  4 - 16px - 0.01px);
    contain: style layout;
}