/*video variables*/
$grid-items-per-row: 4;
$grid-item-margin: 16px;
$grid-item-max-width: 380px;

.page-manager {
  display: flex;
  margin-left: 240px;
  margin-top: 56px;
  flex: 1 1 0%;
  &.mini {
    margin-left: 80px;
  }
  &.close {
    margin-left: 0;
  }
}

.contents-wrap {
  width: 100%;
  background: #f1f1f1;
}

.category-bar {
  display: flex;
  // width: 100%;
  width: calc(100% - 240px);
  position: fixed;
  z-index: 99;
  background: rgb(255, 255, 255, 0.96);
  height: 56px;
  flex-wrap: row;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  ul {
    li {
      display: inline-block;
      a {
        cursor: pointer;
        position: relative;
        display: inline-block;
        background-color: rgba(0, 0, 0, 0.05);
        border: 1px solid rgba(0, 0, 0, 0.1);
        color: #030303;
        padding: 8px 15px;
        transition: background-color 0.5s cubic-bezier(0.05, 0, 0, 1);
        margin: 12px;
        margin-left: 0;
        border-radius: 30px;
        &:hover {
          background-color: rgba(0, 0, 0, 0.1);
        }
      }
    }
  }
}

.masthead_ad {
  margin-top: 56px;
  display: flex;
  width: 100%;
  height: 260px;
  .svt-promo-banner {
    margin: 0 70px;
    width: 100%;
    overflow: hidden;
    display: flex;
    .banner {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      width: 100%;
      justify-content: space-between;
      .banner-content {
        font-size: 24px;
        line-height: 35px;
        padding-right: 1.8rem;
      }
      #videoContainer {
        width: auto;
        min-height: auto;
        #mute {
          font-size: 1.8rem;
          position: absolute;
          right: 2%;
          top: 5%;
          background: none;
          color: #fff;
          border: none;
          cursor: pointer;
          z-index: 98;
        }
        video {
          max-height: 260px;
        }
      }
    }
  }
  #close-btn {
    z-index: 97;
    position: absolute;
    right: 10px;
    cursor: pointer;
    &:after {
      content: "\00d7";
      font-size: 38px;
      margin-top: 3px;
    }
  }
}

.contents-container {
  display: flex;
  justify-content: center;
  position: relative;
  &.is-loading::after {
    width: 100%;
    height: 100%;
    animation: none;
    border: none;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 0;
  }
  .contents {
    padding-top: 80px;
    width: 100%;
    max-width: calc(
      $grid-items-per-row * $grid-item-max-width + $grid-item-margin
    );
    margin: 0 16px;
  }
}

.video-wrap {
  flex-wrap: wrap;
  align-content: center;
  #video-contents-wrap {
    article {
      vertical-align: top;
      display: inline-block;
      width: calc(100% / $grid-items-per-row - $grid-item-margin - 0.01px);
      position: relative;
      margin-left: calc($grid-item-margin / 2);
      margin-right: calc($grid-item-margin / 2);
      margin-bottom: 40px;
      contain: style layout;
      overflow: hidden;
      .meta {
        h3 {
          a {
            #video-title {
              max-height: 4.4rem;
              font-size: 1.6rem;
              line-height: 2.2rem;
              padding-right: 10px;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1326px) {
  .video-wrap #video-contents-wrap article {
    width: calc((100% - (8px * 8)) / 4);
  }
}

@media (max-width: 1325px) and (min-width: 750px) {
  .category-bar {
    width: calc(100% - 80px);
    right: 0;
  }
  .video-wrap #video-contents-wrap article {
    width: calc((100% - (8px * 6)) / 3);
  }
}

@media (max-width: 749px) and (min-width: 660px) {
  .category-bar {
    width: 100%;
    left: 0;
  }
  .video-wrap #video-contents-wrap article {
    width: calc((100% - (8px * 4)) / 2);
  }
}

@media (max-width: 659px) {
  .svt-promo-banner {
    margin: 0 3rem !important;
  }
  .masthead_ad .svt-promo-banner .banner .banner-content {
    font-size: 1.8rem;
    line-height: 1.3;
  }
  .banner-content #default-btn {
    padding: 4px 6px;
  }
  .category-bar {
    width: 100%;
    overflow: auto;
    ul {
      position: absolute;
      top: 0;
      left: 20px;
    }
  }
  .video-wrap #video-contents-wrap article {
    width: calc((100% - (8px * 4)) / 2);
  }
}
