.page-manager{
    display: flex;
    margin-left: 240px;
    margin-top: 56px;
    flex: 1 1 0%;
}

.contents-wrap{
    width: 100%;
    background: rgb(249, 249, 249);
}

.contents-container{
    margin-top: 24px;
    // padding: 0.5%;
    }

.video-wrap{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.video-item-wrap{
    position: relative;
    margin: 0 8px;
    margin-bottom: 40px;
    contain: style layout;
    overflow: hidden;
    width: calc(100% / 4 - 24px);
}

.video-item{
    .thumbnail-wrap .thumbnail{
        width: 100%;
        padding-bottom: 56.25%;
        background: pink;
    }
    .details{
        position: relative;
        display: flex;
        flex-direction: row;
        cursor: pointer;
        #user-profilepic {
            height: 36px;
            margin-top: 12px;
            margin-right: 12px;
                img {
                width: 36px;
                height: 36px;
                border-radius: 50%;
                }
        }
        .meta{
            overflow: hidden;
            padding-right: 24px;
                h3{
                    margin: 12px 0 4px 0;
                a{
                    #video-title{
                    font-family: "Roboto","Arial",sans-serif;
                    font-size: 1.6rem;
                    line-height: 2.2rem;
                    max-height: 4.4rem;
                    overflow: hidden;
                    white-space: normal;
                    -webkit-line-clamp: 2;
                    text-overflow: ellipsis;
                    font-weight: 500;
                        }
                    }
                }
                .video-meta-block{
                    color: #606060;
                    display: flex;
                    flex-direction: column;
                    p  {font-family: "Roboto","Arial",sans-serif;
                        font-size: 1.4rem;
                        line-height: 2rem;
                        font-weight: 400;}
                }
        }
    }
}