.search-wrap {
  width: 100%;
  max-width: 1070px;
  margin: 0 auto;
  display: flex;
  justify-items: center;
  flex-direction: column;
  padding: 3rem calc(3rem - 10px);
  background: #f1f1f1;
  .video-item-wrap {
    width: calc(100% - 60px);
    margin: 10px 10px 30px 10px;
    .video-item {
      display: flex;
      width: 100%;
      .thumbnail-anchor {
        width: 45%;
        max-width: 330px;
        height: auto;
        margin-right: 18px;
      }
      .details {
        width: 50%;
        .meta {
          flex-direction: column;
          .meta-txt {
            margin: 0;
            #video-title {
              margin: 0;
              line-height: 1.3;
              height: 4.5rem;
              font-size: 1.8rem;
              height: auto;
            }
            .video-meta-block {
              font-size: 1.4rem;
              line-height: 2.2;
              display: block;
              margin-top: 10px;
              #user-profilepic {
                width: 25px;
                height: 25px;
                margin: 0;
                margin-right: 7px;
                margin-bottom: -8px;
                display: inline-block;
              }
              a {
                display: inline-block;
                p {
                  font-size: 1.5rem;
                }
              }
              p:last-child {
                display: inline-block;
              }
            }
          }
        }
      }
    }
  }
}
