.thumbnails-wrap {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 408px;

  .thumbnail-input-preview,
  .thumbnail-preview {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    width: 50%;
    height: 100px;
    margin: 5px;
    margin-top: 10px;
    overflow: hidden;
    background-color: #f9f9f9;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 5px;
    cursor: pointer;
  }

  #thumb {
    display: none;
  }
}

.selected {
  border: 5px solid #1a73e8 !important;
}

.unselected {
  filter: opacity(50%);
}
