.thumbnails-wrap {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  max-width: 408px;

  .thumbnail-input-preview,
  .thumbnail-preview {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 50%;
    height: 100px;
    margin: 5px;
    margin-top: 10px;
    overflow: hidden;
    background-color: #f2f2f2;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 5px;
    cursor: pointer;
  }

  #thumb {
    display: none;
  }
}

.form-wrap .form-box form button.upload-thumb-btn {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 15%;
  height: 100%;
  margin: 0 0 0 5px;
  color: #606060;
  background: none;
  i {
    margin-bottom: 7px;
    font-size: 1.7rem;
  }
}

.selected {
  border: 5px solid #1a73e8 !important;
}

.unselected {
  filter: opacity(50%);
}

@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.is-loading::after {
  top: 50%;
  right: 50%;
  bottom: 50%;
  left: 50%;
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  border: 4px solid lightgrey;
  border-top-color: #1a73e8;
  border-radius: 50%;
  animation: spinner 0.8s linear infinite;
  content: "";
}
