doctype html
html(lang="ko")
    head 
        title #{pageTitle}｜SvtTube
        //- we have to send this variable. how do we send variable to template? -> who is rendering the template? => the controllers 
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css")
        link(rel="stylesheet", href="/static/css/styles.css")
    body
        header
            h1=pageTitle
            nav
                ul 
                    li
                        a(href="/") Home
                    if loggedIn
                        li
                            a(href="/users/edit") Edit Profile
                        li 
                            a(href=`/users/${loggedInUser._id}`) My profile 
                        li 
                            a(href="/users/logout") Logout
                        li 
                            a(href="videos/upload") Upload Videos    
                    else
                        li 
                            a(href="/join") Join
                        li 
                            a(href="/login") Login         
                    li 
                        a(href="/search") Search

                    
        main
            h1 #{pageTitle}
            block content
    include partials/footer
    script(src="/static/js/main.js") 