extends layouts/base.pug
include mixins/video

block content
  .page-manager
    #contents-wrap.contents-wrap
      .category-bar
        ul#category_bar_chips
          li
            a.category-chip(href="/category/all") 전체
          li
            a.category-chip(href="/category/music") 음악
          li
            a.category-chip(href="/category/rap") 랩
          li
            a.category-chip(href="/category/cooking") 요리
          li
            a.category-chip(href="/category/pet") 애완동물
          li
            a.category-chip(href="/category/recent") 최근에 업로드된 동영상
      .masthead_ad
        .svt-promo-banner
          .banner
            .banner-text
              h1 Check out the new song<br>"_WORLD" by Seventeen!
                a(href="http://localhost:4000/videos/61d433efa11ad303fa6d6cbe")
              a#banner-btn(
                href="http://localhost:4000/videos/61dda92a448bc44760dda6e4"
              )
                #default-btn Check out now!
            #videoContainer
              video(
                src="/uploads/videos/cda5d66617537d4c741a9653f95ef2ac",
                controls,
                autoplay,
                muted,
                loop
              )
        #close-btn
      .contents-container
        .contents
          #video-wrap.video-wrap

block scripts
  script(src="/static/js/videoCategory.js")
  script(src="/static/js/closeAd.js")
