extends base.pug
include mixins/video

block content
  .page-manager
    .contents-wrap
      .masthead_ad
        .svt-promo-banner
          video(src="http://localhost:4000/uploads/videos/c3b15c426ad21afeed562a7eb2904549", controls, autoplay, muted=true)
          .banner-text
            h1 Check out the new song "Pretty you" by Seventeen!
        .close-btn
          span X
      .contents-container
        .contents
          .video-wrap
            each video in videos
              +video(video)
            else
              li sorry nothing found.
