extends layouts/base
include mixins/video

block content
    form(method="GET" )
        input(type="text" name="keyword" placeholder="search by title")
        input(type="submit" value="search now!")
    div
        each video in videos
            +video(video)