// Config
@import "./config/_variables.scss";
@import "./config/reset.scss";

// Components


// Screens
@import "./screens/header.scss";
@import "./screens/home.scss";


//Fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

html{
    font-size: 10px;
    font-family:Roboto, Arial, sans-serif;
    color:#030303;
}

body{
    font-size: 1.2rem;
    overflow:hidden;
}

.svt-icon{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    vertical-align: middle;
}

.opend{
    visibility: visible;
}


a {
    color: inherit;
    text-decoration: none;
}