extends ../layouts/base.pug
include ../mixins/video


block content
    .page-manager
        .contents-wrap
            each video in user.video
                +video(video)
            else
                li sorry nothing found :(